<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="SWH_Cluu_Release" value="https://nuget.softwarehelden.intern/Cluu_Release_6.0/index.json" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="True" />
  </solution>
</configuration>
